
  
  
  .outer-nav{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  
  
  .navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  /* .search{
    border-radius: 20px;
  } */