
  
  
  .outer-nav{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .outer-nav {
    transition: transform 0.3s ease;
  }
  
  .nav-visible {
    transform: translateY(0);
  }
  
  .nav-hidden {
    transform: translateY(-100%);
  }
  
  
  
  .navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
