.custom-cursor {
  position: absolute;
  z-index: 10;
  padding: 0.1rem;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4.5rem;
  height: 4.5rem;
  background-color: #006240; 
  color: #f0dfb0;
  border-radius: 50%;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.card:hover .custom-cursor {
  opacity: 1;
}

.custom-cursor-visible {
  opacity: 1 !important;
}

.hide-cursor {
  cursor: none;
}

.explore-cursor,
.small-screen-cursor {
  position: absolute;
  left: 0;
  z-index: 11;
  padding: 0.16rem;
  /* pointer-events: none; */
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  background-color: #006240;
  color: #f0dfb0;
  border-radius: 50%;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.small-screen-cursor {
  bottom: -20%;
  right: 5%;
  left: auto;
  opacity: 1;
  width: 5rem;
  height: 5rem;
}
.group:hover{
  box-shadow:  rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all 0.2s ease; 
}